.c-overview {
  height: 100vh;
  width: 100%;
  padding: 100px 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;  
  overflow: auto;
  box-sizing: border-box;
  color: $white;
  background: linear-gradient(to bottom right, #1590FC 0, #1F7BDE 100%);
  
  @media #{$ss-screen} {
    // height: auto;
    display: none;
  }
}

.c-overview__section {
  padding: 0 20px; 
  &:not(:last-child) {
    margin-bottom: 60px; 
  }
  
  @media #{$md-screen} {
     padding: 0;
  }
}

.c-overview__headline {
  font-size: 30px;
}

.c-overview__text {
  margin: 0 auto 60px;
  max-width: 480px;
  font-size: 19px;

  text-align: center;
  hyphens: manual;
}

.c-overview__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0 55px;
}

.c-overview__brand-item {
  width: 100px;
  text-align: center;
  height: 65px;
}

.c-overview__brand-image {
  max-width: 100%;
  object-fit: cover;
}

.c-overview__workflow {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.c-overview__workflow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
  // padding: 0 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  
  @media #{$sm-screen} {
     flex-basis: 100%;
  }
}

.c-overview__workflow-image {
  max-width: 250px;
}

.c-overview__workflow-title {
  margin-bottom: 20px;
}

.c-overview__workflow-text {
  max-width: 62%;
  margin: auto;
  hyphens: manual;
  @media #{$md-screen} {
     max-width: none;
  }
}

.c-overview__profile-img {
  box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.4);
  border-radius: 4px;
  border: 1px solid #e2e0e2;
  width: 100%;
}

.c-overview__profile {
  margin: 0 50px;
  
  @media #{$md-screen} {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-overview__video--wrap {
  margin: 60px 50px 0; 
  
  @media #{$md-screen} {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-overview__video {
  margin: 0 auto; 
  padding-top: 56.25%;    // 16 : 9 ratio
  height: 0;
  box-sizing: border-box;
  position: relative;

  iframe {    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid $black; 
  }
}


// Footer
.c-overview__footer {
  margin-top: auto;
  padding: 30px 0;
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    margin-right: 18px;
    font-size: 14px;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
  }
}
