
// Adjusts font-awesome icons
i { vertical-align: baseline; }

// Anchor Resets
a{
  text-decoration: none;
}

img:not([src]) {
    visibility: hidden;
    display: none;
}

.relative {
  position: relative;
}

// Input Progress Ciculars

.input-progress {
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
}
